<h1 class="mt-4">Produtos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ produto.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #produtoForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success ==true">
                    Produto salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="produto.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="produto.id" name="id"class="form-control" disabled="true"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Código de Barras:*</label>
                    <input type="text" class="form-control" 
                        [(ngModel)]="produto.codbarras" name="codbarras"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:*</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="produto.nome" name="nome"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Descrição:</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="produto.descricao" name="descricao"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Quantidade:</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="produto.quantidade" name="quantidade"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-group">
                <button type="submit" class="btn btn-success" *ngIf="!produto.id">
                    <i class="fa fa-save"> </i> Salvar
                </button> 

                <button type="submit" class="btn btn-primary ml-1" *ngIf="produto.id">
                    <i class="fa fa-sync-alt"> </i> Atualizar
                </button> 

                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"> </i> Voltar
                </button>  
                
                
            </div>
        </div>

    </form>

</div>

